/* ========================
    Basic SetUp
========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body{
    font-family: 'Fira Code', monospace;
}

/* ======================
    Reusable Element
========================= */

.container{
    width: 1200px;
    margin:auto;
}
.btn{
    text-decoration: none;
    background: #FF5959;
    color: #FFF;
    padding: 20px 35px;
    border-radius: 5px;
    font-size: 20px;

}
/* ====================
    Header section
====================== */
header{
    display: flex;
    margin-top: 100px;
}

.header-title h1{
    font-size: 50px;
    font-weight: 700;
}

.header-title h1 span{
    color: goldenrod;
}

.header-title h1::after {
    content: '';
    display: block;
    width: 5px;
    height: 82px;
    position: absolute;
    background: #FF5959;
    top: 117px;
    left: 338px;
    border-radius: 10px;
}

.header-img img{
    width: 80%;
    margin-top: -95px;
    margin-left: 110px; 
}

.header-title p{
    font-size: 20px;
    line-height: 1.5;
    margin: 40px 0;
}


.header-title, .header-img{
    width: 50%;
}
/* =================
    Mission 2022
==================== */
.mission2022{
    margin-bottom: 80px;
}
.mission2022 h1{
    font-size: 55px;
    text-align: center;
    /* font-weight: 600; */
    font-weight: bold;
    margin: 60px 0;
}
.mission2022 h1 span{
    color: goldenrod;
}

.target{
    display: flex;
}
.misson img{
    width: 45%;
    padding-bottom: 20px;
}

.misson{
    margin-right: 65px;
}
.misson:last-child{
    margin-right: 0;
}
.misson h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.misson p{
    font-size: 19px;
    text-align: justify;
}

#misson{
    background: #7bd8e250;
    padding: 34px;
    border-radius: 15px;
}

#vission{
    background: #FFEEEE;
    padding: 34px;
    border-radius: 15px;
}

#goals{
    background: #FFF4D6;
    padding: 34px;
    border-radius: 15px;
}

/* =======================
    coding section
========================= */
#codeing-main{
    margin: 150px 0;
}
.half-cont{
    display: flex;
}

.half-width img{
    width: 80%;
}

#codeing-main{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 22%;
}

.half-width h2{
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.half-width p{
    font-size: 20px;
    margin-bottom: 45px;
}
.half-info{
    margin-top: 50px;
}

/* =========================
       community section
============================ */

#community{
    margin: 150px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 22%;
}
.community-main{
    display: flex;
}
.community-info{
    width: 60%;
    margin-right: 30px;
    margin-top: 80px;
}
.community-img{
    width: 40%;
}

.community-info h1{
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.community-info p{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 55px;
}

.community-img img{
    width: 100%;
}

/* =====================
        project-main
======================= */
#project{
    margin: 150px;
}
#project h1{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 35px;
}
.project-main{
    display: flex;
}

.projects{
    width: 33%;
    margin-right: 20px;
}
.projects img{
    width: 350px;
}

.projects h3{
    font-size: 25px;
    margin: 15px 0;
}

.projects  p{
    font-size: 18px;
}

/* ======================
        Footer
========================= */

footer{
    text-align: center;
    background: #000;
    color: #FFF;
    padding: 50px 0;
}
.footer-content h2{
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Yellowtail', cursive;
}

.footer-content span{
    color: #FF5959;
}